:host {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	flex: 1;

	p-card form {
		margin-top: 2rem;
		display: flex;
		flex-direction: column;
		gap: 1.75rem;

		input, p-password {
			width: 100%;
		}
	}
}
