<p-card header="Se connecter">
	<form (ngSubmit)="signIn()" [formGroup]="signInForm">

		<p-floatlabel>
			<p-iconfield>
				<p-inputicon class="pi pi-at"/>
				<input id="username" pInputText formControlName="username" name="username" required/>
			</p-iconfield>
			<label for="username">Adresse email</label>
		</p-floatlabel>


		<p-floatlabel>
			<p-iconfield>
				<p-inputicon class="pi pi-lock"/>
				<p-password inputId="password" name="password" formControlName="password" [feedback]="false" toggleMask="true"
										required/>
			</p-iconfield>
			<label for="password">Mot de passe</label>
		</p-floatlabel>

		<button pButton type="submit" [disabled]="signInForm.invalid" [loading]="isLoading">
			<i class="pi pi-sign-in" pButtonIcon></i>
			<span pButtonLabel>Connexion</span>
		</button>
	</form>
	@if (error) {
		<p-message severity="error">{{ error }}</p-message>
	}
</p-card>
