<p-card header="Se connecter">
	<form (ngSubmit)="login()" [formGroup]="loginForm">
		<p-input-group>
			<p-inputgroup-addon>
				<i class="pi pi-at"></i>
			</p-inputgroup-addon>

			<p-floatlabel>
				<input id="username" pInputText formControlName="username" name="username" required/>
				<label for="username">Adresse email</label>
			</p-floatlabel>
		</p-input-group>


		<p-input-group>
			<p-inputgroup-addon>
				<i class="pi pi-lock"></i>
			</p-inputgroup-addon>

			<p-floatlabel>
				<p-password inputId="password" name="password" formControlName="password" [feedback]="false" toggleMask="true"
										required/>
				<label for="password">Mot de passe</label>
			</p-floatlabel>
		</p-input-group>

		<button pButton type="submit" [disabled]="loginForm.invalid" [loading]="isLoading">
			<i class="pi pi-sign-in" pButtonIcon></i>
			<span pButtonLabel>Connexion</span>
		</button>
	</form>
	@if (error) {
		<p-message severity="error">{{ error }}</p-message>
	}
</p-card>
