@use "variables" as *;
@import "primeicons/primeicons.css";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Nunito Sans", sans-serif;
}

html, body {
	width: 100%;
	min-height: 100%;
	position: relative;

	iframe {
		display: none;
	}

	p-card {
		padding: 0.5rem;

		.p-card-title {
			font-size: 2rem !important;
			font-weight: bold !important;
			text-align: center;
		}
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: 600;
		font-family: "JetBrains Mono", sans-serif;
	}

}

p-button button {
	width: 100%;
}

p-password {
	input {
		width: 100%;
	}

	svg {
		cursor: pointer;
	}
}

// Hide bug caret in input fields with icons
p-iconfield,
p-inputicon,
p-toolbar,
p-toolbar > * {
	caret-color: transparent; /* Hide caret */
	user-select: none; /* Optional: prevent selection */
}

p-iconfield:focus,
p-inputicon:focus {
	outline: none; /* No focus outline */
}


p-iconfield,
p-inputicon {
	pointer-events: none; /* The wrapper won’t be focusable */
}

p-iconfield input,
p-inputicon input {
	pointer-events: auto; /* But the actual input works */
}


*:not(input):not(textarea) {
	caret-color: transparent;
}

input, textarea {
	caret-color: white;
}

.p-datatable-header {
	padding-inline: 0 !important;
}

.full-width {
	width: 100%;
}

.p-toolbar-start,
.half-width {
	width: 50% !important;
}

.title-icon {
	font-size: 1.5rem !important;
}
