@use "variables" as atazik;
@import "primeicons/primeicons.css";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	min-height: 100%;
	position: relative;

	iframe {
		display: none;
	}

	i, h1, h2, h3, h4, h5, h6, p {
		caret-color: transparent;
	}
}

.p-inputtext:focus {
	outline: none !important;
	box-shadow: none !important;
}

.p-card-title {
	font-size: 2rem !important;
	font-weight: bold !important;
	text-align: center;
}
